<img ng-hide="engineReady" src="images/ajax-loader.gif" style="display:block;text-align: center;margin:auto"/>
<div class="row-fluid" ng-if="engineReady">
  <div class="span12">
    <div class="span6">
      <h3>Spec</h3>

      <div ui-ace="{useWrapMode : true,
        showGutter: true,
        theme:'textmate',
        mode: 'yaml'}" ng-model="yaml.content"></div>

      <div class="alert alert-error" ng-show="yaml.error">
        {{yaml.error}}
      </div>
    </div>
    <div class="span6">
      <h3>Jasmine</h3>

      <div ui-ace="{useWrapMode : true,
        showGutter: true,
        theme:'textmate',
        mode: 'javascript'}" ng-model="testScript.content"></div>
    </div>
  </div>
</div>
